@import '../../sass/variables';

.main__container {
  padding: $p-main-container;
  display: flex;
  flex-wrap: wrap;

  .card-gap {
    margin: 1rem;
  }

  .household-information {
    flex: 1;
    flex-basis: 10rem;

    .house-summary {
      margin: 1rem;

    }

    .housemates {
      margin: 1rem;

    }

  }

  .activity-feed {
    margin: 1rem;
    flex-basis: 20rem;
    flex: 2;
  }
}
