<div class="sidenav__list">
    <div *ngFor="let navitem of navitems">
      <div class="sidenav__list-item">
        <div class="sidenav__list-item-icon">
          <mat-icon matPrefix>{{navitem.icon}}</mat-icon>
        </div>
        <div class="sidenav__list-item-text">{{navitem.displayName}}</div>
      </div>
    </div>
    <div class="dropdown">
      <div class="dropbtn">
        <div class="sidenav__list-item ">
          <div class="sidenav__list-item-icon">
            <mat-icon matPrefix>list_alt</mat-icon>
          </div>
          <div class="sidenav__list-item-text ">groups</div>
          <button mat-mini-fab color="accent">
            <mat-icon matPrefix>add</mat-icon>
          </button>
        </div>
      </div>
      <ul class="dropdown-content">
        <li class="sidenav__list-item " routerLink="/group" (click) = 'sendContentName("Group A")'>
          <div class="sidenav__list-item-icon">
            <mat-icon matPrefix>folder_shared</mat-icon>
          </div>
          <div class="sidenav__item-text "  >Group A</div>
        </li>
        <li class="sidenav__list-item ">
          <div class="sidenav__list-item-icon">
            <mat-icon matPrefix>folder_shared</mat-icon>
          </div>
          <div class="sidenav__list-item-text ">grou B</div>
        </li>
        <li class="sidenav__list-item ">
          <div class="sidenav__list-item-icon">
            <mat-icon matPrefix>folder_shared</mat-icon>
          </div>
          <div class="sidenav__list-item-text ">group C</div>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <div class="dropbtn">
        <li class="sidenav__list-item ">
          <div class="sidenav__list-item-icon">
            <mat-icon matPrefix>group</mat-icon>
          </div>
          <div class="sidenav__list-item-text ">friends</div>
        </li>
      </div>
      <ul class="dropdown-content">
        <li class="sidenav__list-item ">
          <div class="sidenav__list-item-icon">
            <mat-icon matPrefix>person</mat-icon>
          </div>
          <div class="sidenav__list-item-text ">friend A</div>
        </li>
        <li class="sidenav__list-item ">
          <div class="sidenav__list-item-icon">
            <mat-icon matPrefix>person</mat-icon>
          </div>
          <div class="sidenav__list-item-text ">friend B</div>
        </li>
      </ul>
    </div>
  </div>