@import'../../../sass/variables';
@import'../../../sass/mixins';

.sidenav-container {
  height: 100vh;
  overflow: hidden;

}
.sidenav {
  box-shadow: $box-shadow;
  border: none;
  overflow: hidden;
  padding: 0;
  width: $sidenav-width;

}
.showBtnToggle{
  display: block;
}
.hideBtnToggle{
  display:none;
}
