<div class="main" [ngClass]="themeClass">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened role="navigation" class='sidenav'>
      <mat-nav-list class='sidenav'>
        <header>
          <mat-toolbar color='primary' class= 'box-shadow'>
            <h1>BILL SHARE</h1>
          </mat-toolbar>
          <app-header></app-header>
        </header>
       <app-sidenav-list></app-sidenav-list>
      </mat-nav-list>
<app-sidenav-footer></app-sidenav-footer>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <mat-toolbar color='primary' class="content__header-container">
        <mat-toolbar color='primary' class="content__header-nav">
          <mat-slide-toggle (click)="drawer.toggle()">Slide me!</mat-slide-toggle>
          <span class="content-nav-spacer"></span>
          <!-- <span class="theme-select-text">change Theme</span> -->
          <mat-icon class="content-nav-icon " matTooltip="Change theme"
           aria-label="Button that displays a tooltip when focused or hovered over" [matMenuTriggerFor]="menu" >format_color_fill</mat-icon>
          <mat-menu #menu="matMenu" >
              <div class="change__theme-menu-item">
                <div class="button-teal-container" (click) = "changeTheme('teal')"> <button mat-mini-fab class='button-teal'></button></div>
                <div class="button-blue-container" (click) = "changeTheme('blue')"> <button mat-mini-fab class='button-blue'></button></div>
              </div>
              <div class="change__theme-menu-item">
                <div class="button-black-container" (click) = "changeTheme('black')"> <button mat-mini-fab class='button-black'></button></div>
                <div class="button-purple-container" (click) = "changeTheme('purple')"> <button mat-mini-fab class='button-purple'></button></div>
              </div>
      </mat-menu>
        </mat-toolbar>
        <div class="content__header-text">adfasdf</div>
      </mat-toolbar>
      <router-outlet class="main__content"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
