<div class="main" [ngClass]="getTheme()">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened role="navigation" class='sidenav'>
      <mat-nav-list class='sidenav'>
        <header>
          <app-sidenav-header></app-sidenav-header>
        </header>
        <app-sidenav-list></app-sidenav-list>
      </mat-nav-list>
      <app-sidenav-footer></app-sidenav-footer>
    </mat-sidenav>
    <mat-sidenav-content role="main">
          <app-sidenav-main-content-header (emitThemeClass) = 'changeTheme($event)'></app-sidenav-main-content-header>
      <router-outlet class="main__content"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
