<div class="profile__container" *ngIf="authService.user | async as user">
  <div class="profile__information">
    <mat-card>
        <img src="{{user.photoURL}}" alt="img" class="profile__image">
      <mat-card-header color="primary">
        <mat-card-title>{{user.displayName}}</mat-card-title>
        <mat-card-subtitle>Account Information</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="profile__content">
          <div class="profile__content-key">Name :</div>
          <div class="profile__content-value">{{user.displayName}}</div>
        </div>
        <div class="profile__content">
          <div class="profile__content-key">Email :</div>
          <div class="profile__content-value">{{user.email}}</div>
        </div>
        <div class="profile__content">
          <div class="profile__content-key">Password :</div>
          <div class="profile__content-value">*******</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="payment__history">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Payment History</mat-card-title>
        <mat-card-subtitle>Check your payment history</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
