.profile {
  padding: 0;

  &__photo-container {
    width: 15rem;
    height: 9rem;
    padding: 0;
    display: flex;
    justify-content: center;

  }

  &__photo {
    height: 7rem;
    width: 13rem;
    object-fit: cover;

  }

  &__text {

    font-size: .8rem;
    text-transform: none;
    line-height: 1rem;

    &-username {
      @extend .profile__text;
      font-weight: bold;
      text-transform: capitalize;
    }

  }

}
