<mat-toolbar color ='primary' class ="mat-icon-height">
  <div class="welcome_user">Hello user</div>
  <span class="spacer"></span>
  <div class="menu_container">
    <div class="menu_item">
      <mat-icon>dashboard</mat-icon>
      <div class="menu_item-text">Dashboard</div>
    </div>
    <div class="menu_item">
      <mat-icon>monetization_on</mat-icon>
      <div class="menu_item-text">Expenses</div>
    </div>
    <div class="menu_item">
      <mat-icon>weekend</mat-icon>
      <div class="menu_item-text">Household</div>
    </div>
    <div class="menu_item">
      <mat-icon>
        person</mat-icon>
      <div class="menu_item-text">profile</div>
    </div>
    <div class="menu_item">
      <mat-icon>build</mat-icon>
      <div class="menu_item-text">setting</div>
    </div>

  </div>
</mat-toolbar>